#info-box{
    margin-top: 0;
}
#info-box .info-style-content{
    border-radius: 5em;
    background-color: #01DFD7;
    padding: 2em;
    margin: 2em auto;
    width: 40%;
    
}

#info-box .info-style-content p{
    font-size: 5em;
}

#info-box .info-style-content img{
    max-width: 100px;
    max-height: 100px;
    border-radius: 60px;
    float: left;
    margin-right: 15px;
 
   
}
#info-box p{
    text-align: center;
    font-style: italic;
    font-size: 15px;
}
#info-box p img{
    max-width: 150px;

}