<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/favicon.png">

    <title>Movies - Get Booked Online</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

</head>


<body>

    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="/"><img src="/img/logo.png" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i>
      </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/en/movies"><i class="fas fa-film"></i> Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/en/chatbot/" role="button" aria-haspopup="true" aria-expanded="false" lang="en"><i class="fas fa-crown"></i> Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/en/up-coming"><i class="fas fa-clock"></i> Upcoming</a>
                </li>
            </ul>
            <a class="nav-button" href="/en/movies"><i class="fas fa-ticket-alt"></i> Get Tickets</a>
        </div>
    </nav>
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Movies</li>
        </ol>
    </nav>
    <!-- /breadcrumbs -->
    <!-- movie cards -->
    <div class="container">
        <div class="alert alert-primary" role="alert">
            <i class="fas fa-exclamation-circle"></i> Upcoming Movies
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <div class="list mb-2">
                    <div class="list-header">
                        <a href="#" class="list-header-image">
                            <img src="https://cinestar.com.vn/pictures/Cinestar/09-2020/thhd.jpg">
                        </a>
                    </div>
                    <div class="list-content">
                        <h2><a href="#" class="text-black">THE ELSKINS</a></h2>
                        <span class="list-meta">
                    	<span class="list-meta-item"><i class="fas fa-clock"></i> 11.9.2020</span>
                        <a href="#" class="list-meta-item"><i class="fas fa-star"></i> 7.8</a>
                        </span>
                        <p>The legendary Elfkins (Heinzelmännchen) of Cologne were gnomes secretly helping craftsmen at night until they were ousted by a tailor's malevolent wife 200 years ago...
                            <a href="/en/movies/crawl" class="text-black">More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="list mb-2">
                    <div class="list-header">
                        <a href="#" class="list-header-image">
                            <img src="https://cinestar.com.vn/pictures/Cinestar/09-2020/nangtien.jpg">
                        </a>
                    </div>
                    <div class="list-content">
                        <h2><a href="#" class="text-black">A MERMAID IN PARIS</a></h2>
                        <span class="list-meta">
                    	<span class="list-meta-item"><i class="fas fa-clock"></i> 15.9.2020</span>
                        <a href="#" class="list-meta-item"><i class="fas fa-star"></i> 8.3</a>
                        </span>
                        <p>A broken-hearted crooner, Gaspard had promised himself he'd never fall in love again. As for Lula, a pretty mermaid, she only has her song to defend herself from men, by making their hearts race until they explode...
                            <a href="#" class="text-black">xem thêm</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="list mb-2">
                    <div class="list-header">
                        <a href="#" class="list-header-image">
                            <img src="https://cinestar.com.vn/pictures/Cinestar/07-2020/rom.jpg">
                        </a>
                    </div>
                    <div class="list-content">
                        <h2><a href="#" class="text-black">ROM</a></h2>
                        <span class="list-meta">
                    	<span class="list-meta-item"><i class="fas fa-clock"></i> 25.9.2020</span>
                        <a href="#" class="list-meta-item"><i class="fas fa-star"></i> 8.8</a>
                        </span>
                        <p>Chest tells the story of working people in an old apartment building waiting to be cleared in Saigon. They all play numbers in the hopes of earning a large sum of money to change their lives ...
                            <a href="#" class="text-black"> More </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="list mb-2">
                    <div class="list-header">
                        <a href="#" class="list-header-image">
                            <img src="https://cinestar.com.vn/pictures/Cinestar/08-2020/chongnguoita.jpg">
                        </a>
                    </div>
                    <div class="list-content">
                        <h2><a href="#" class="text-black">CHONG NGUOI TA</a></h2>
                        <span class="list-meta">
                    	<span class="list-meta-item"><i class="fas fa-clock"></i> 28.9.2020</span>
                        <a href="#" class="list-meta-item"><i class="fas fa-star"></i> 8.1</a>
                        </span>
                        <p>Man Ta's husband is a psychological and emotional film with an element of surprise, the film exploits a hateful love story revolving around three characters Ha, Cuong and Trung, ...
                            <a href="#" class="text-black">MORE </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="list mb-2">
                    <div class="list-header">
                        <a href="#" class="list-header-image">
                            <img src="https://cinestar.com.vn/pictures/Cinestar/10-2020/candyman.jpg">
                        </a>
                    </div>
                    <div class="list-content">
                        <h2><a href="#" class="text-black">CANDYMAN</a></h2>
                        <span class="list-meta">
                    	<span class="list-meta-item"><i class="fas fa-clock"></i> 16.10.2020</span>
                        <a href="#" class="list-meta-item"><i class="fas fa-star"></i> 7.6</a>
                        </span>
                        <p>For as long as residents can remember, the housing projects of Chicago's Cabrini Green neighborhood were terrorized by a word-of-mouth ghost story about a supernatural killer with a hook for a hand...
                            <a href="#" class="text-black">MORE</a> </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="list mb-2">
                    <div class="list-header">
                        <a href="#" class="list-header-image">
                            <img src="https://cinestar.com.vn/pictures/Cinestar/6-2020/notime.jpg">
                        </a>
                    </div>
                    <div class="list-content">
                        <h2><a href="#" class="text-black">NO TIME TO DIE</a></h2>
                        <span class="list-meta">
                    	<span class="list-meta-item"><i class="fas fa-clock"></i> 27.10.2020</span>
                        <a href="#" class="list-meta-item"><i class="fas fa-star"></i> 6.7</a>
                        </span>
                        <p>After the haunting event in Specter, Bond retreated to hide in Jamaica, living a lonely but calm life. Suddenly an old friend from the CIA appeared, begging him for help. Bond reluctantly had to return, but did not know what force
                            he would confront...
                            <a href="#" class="text-black">MORE</a></p>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="list mb-2">
                    <div class="list-header">
                        <a href="#" class="list-header-image">
                            <img src="https://cinestar.com.vn/pictures/Cinestar/09-2020/songsong.jpg">
                        </a>
                    </div>
                    <div class="list-content">
                        <h2><a href="single-movie/Pinocchio.html" class="text-black">SONG SONG (C16)</a></h2>
                        <span class="list-meta">
                        <span class="list-meta-item"><i class="fas fa-clock"></i> 12.12.2020</span>
                        <a href="#" class="list-meta-item"><i class="fas fa-star"></i> 7.0</a>
                        </span>
                        <p>Inspired by the "butterfly effect" theory, the movie is the story of a woman finding ways to correct her mistakes while accidentally changing the past, which makes her life become chaos...
                            <a href="/single-movie/Peninsula.html" class="text-black">MORE</a> </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="list mb-2">
                    <div class="list-header">
                        <a href="#" class="list-header-image">
                            <img src="https://cinestar.com.vn/pictures/Cinestar/09-2020/ttqv.jpg">
                        </a>
                    </div>
                    <div class="list-content">
                        <h2><a href="#" class="text-black">TRAI TIM QUAI VAT</a></h2>
                        <span class="list-meta">
                    	<span class="list-meta-item"><i class="fas fa-clock"></i> 16.10.2020</span>
                        <a href="#" class="list-meta-item"><i class="fas fa-star"></i> 6.4</a>
                        </span>
                        <p>The Instrument of Murder’ is a thriller story about a serious murder case at an old apartment building. The prime suspect is Khanh (Hoang Thuy Linh), a single mother who simply wants to live peacefully with her son...

                            <a href="#" class="text-black">MORE</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /movie cards -->
    <br>
    <!-- Newsletter -->
    <section class="newsletter text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h2 class="mb-4">Love discounts? We do too!</h2>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form>
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0">
                                <input type="email" class="form-control form-control-lg" placeholder="Enter your email..." style="padding-bottom: 16px; padding-top: 16px; height: 63px;">
                            </div>
                            <div class="col-12 col-md-3">
                                <button type="submit" class="btn btn-block btn-lg btn-primary" style="padding-bottom: 16px; padding-top: 16px;">Discounts!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- /Newsletter -->
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="#">About us</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Refunds</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Terms and Privacy</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                    <p class="small mb-4 mb-lg-0">18VP &copy; 2020. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3 ">
                            <a href="#" class="footer-fb">
                                <i class="fab fa-linkedin fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="#" class="footer-tw">
                                <i class="fab fa-twitter fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="footer-in">
                                <i class="fab fa-instagram fa-2x fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


</body>

</html>