<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/favicon.png">

    <title>Phim - Đặt vé trực tuyến</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

</head>


<body>

    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="/"><img src="/img/logo.png" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i>
      </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fas fa-home"></i> Trang chủ</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/vi/movies"><i class="fas fa-film"></i> Phim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vi/chatbot/" role="button" aria-haspopup="true" aria-expanded="false" lang="en"><i class="fas fa-crown"></i> Hỗ trợ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vi/up-coming"><i class="fas fa-clock"></i> Phim sắp chiếu</a>
                </li>
            </ul>
            <a class="nav-button" href="/vi/movies"><i class="fas fa-ticket-alt"></i> Lấy vé ngay!</a>
        </div>
    </nav>
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Phim</li>
        </ol>
    </nav>
    <!-- /breadcrumbs -->
    <!-- movie cards -->
    <div class="container">
        <div class="alert alert-primary" role="alert">
            <i class="fas fa-exclamation-circle"></i> Những phim sau đây sắp chiếu ở rạp.
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <div class="list mb-2">
                    <div class="list-header">
                        <a href="#" class="list-header-image">
                            <img src="https://cinestar.com.vn/pictures/Cinestar/09-2020/thhd.jpg">
                        </a>
                    </div>
                    <div class="list-content">
                        <h2><a href="#" class="text-black">TÍ HON HẬU ĐẬU</a></h2>
                        <span class="list-meta">
                    	<span class="list-meta-item"><i class="fas fa-clock"></i> 11.9.2020</span>
                        <a href="#" class="list-meta-item"><i class="fas fa-star"></i> 7.8</a>
                        </span>
                        <p>Trong suốt 200 năm, tộc người tí hon Elfkins đã sống sâu dưới lòng đất và hạn chế tiếp xúc với con người vì nghĩ rằng họ rất xấu xa. Một ngày nọ, cô bé Helvi tí hon không chịu nổi sự tù túng và chật chội của lòng đất, cô quyết
                            định “phá luật’’ và trèo lên mặt đất ...
                            <a href="/vi/movies/crawl" class="text-black">xem thêm</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="list mb-2">
                    <div class="list-header">
                        <a href="#" class="list-header-image">
                            <img src="https://cinestar.com.vn/pictures/Cinestar/09-2020/nangtien.jpg">
                        </a>
                    </div>
                    <div class="list-content">
                        <h2><a href="#" class="text-black">NÀNG TIÊN CÁ Ở PARIS</a></h2>
                        <span class="list-meta">
                    	<span class="list-meta-item"><i class="fas fa-clock"></i> 15.9.2020</span>
                        <a href="#" class="list-meta-item"><i class="fas fa-star"></i> 8.3</a>
                        </span>
                        <p>Sau những đổ vỡ trong tình yêu, chàng ca sĩ nghiệp dư Gaspard đã nguyện chẳng yêu ai nữa. Còn với nàng tiên cá Lula, nàng luôn bảo vệ chính mình khỏi tình yêu bằng giọng hát ma mị, khiến cho bất cứ người đàn ông....
                            <a href="#" class="text-black">xem thêm</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="list mb-2">
                    <div class="list-header">
                        <a href="#" class="list-header-image">
                            <img src="https://cinestar.com.vn/pictures/Cinestar/07-2020/rom.jpg">
                        </a>
                    </div>
                    <div class="list-content">
                        <h2><a href="#" class="text-black">RÒM (C18)</a></h2>
                        <span class="list-meta">
                    	<span class="list-meta-item"><i class="fas fa-clock"></i> 25.9.2020</span>
                        <a href="#" class="list-meta-item"><i class="fas fa-star"></i> 8.8</a>
                        </span>
                        <p>Ròm kể câu chuyện về cuộc sống của những người dân lao động nơi một khu chung cư cũ đang chờ giải tỏa tại Sài Gòn. Họ đều chơi số đề với hy vọng kiếm được một khoản tiền lớn để đổi đời...
                            <a href="#" class="text-black"> xem thêm </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="list mb-2">
                    <div class="list-header">
                        <a href="#" class="list-header-image">
                            <img src="https://cinestar.com.vn/pictures/Cinestar/08-2020/chongnguoita.jpg">
                        </a>
                    </div>
                    <div class="list-content">
                        <h2><a href="#" class="text-black">CHỒNG NGƯỜI TA</a></h2>
                        <span class="list-meta">
                    	<span class="list-meta-item"><i class="fas fa-clock"></i> 28.9.2020</span>
                        <a href="#" class="list-meta-item"><i class="fas fa-star"></i> 8.1</a>
                        </span>
                        <p>Chồng Người Ta là một bộ phim tâm lý tình cảm có yếu tố bất ngờ, phim khai thác câu chuyện tình yêu đầy thù hận xoay quanh ba nhân vật Hà, Cường và Trung,...
                            <a href="#" class="text-black"> xem thêm </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="list mb-2">
                    <div class="list-header">
                        <a href="#" class="list-header-image">
                            <img src="https://cinestar.com.vn/pictures/Cinestar/10-2020/candyman.jpg">
                        </a>
                    </div>
                    <div class="list-content">
                        <h2><a href="#" class="text-black">SÁT NHÂN TRONG GƯƠNG</a></h2>
                        <span class="list-meta">
                    	<span class="list-meta-item"><i class="fas fa-clock"></i> 16.10.2020</span>
                        <a href="#" class="list-meta-item"><i class="fas fa-star"></i> 7.6</a>
                        </span>
                        <p>Phim xoay quanh nữ sinh Helen khi cô bắt đầu khám phá những truyền thuyết về một linh hồn ở địa phương để phục vụ bài nghiên cứu của mình.Linh hồn này vốn là con trai của một người nô lệ da màu...
                            <a href="#" class="text-black">xem thêm</a> </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="list mb-2">
                    <div class="list-header">
                        <a href="#" class="list-header-image">
                            <img src="https://cinestar.com.vn/pictures/Cinestar/6-2020/notime.jpg">
                        </a>
                    </div>
                    <div class="list-content">
                        <h2><a href="#" class="text-black">KHÔNG PHẢI LÚC CHẾT</a></h2>
                        <span class="list-meta">
                    	<span class="list-meta-item"><i class="fas fa-clock"></i> 27.10.2020</span>
                        <a href="#" class="list-meta-item"><i class="fas fa-star"></i> 6.7</a>
                        </span>
                        <p>Phần 25 của bộ phim điệp viên huyền thoại 007 sẽ tiếp nối câu chuyện về James Bond cùng những pha hành động táo bạo và hoành tráng hơn bao giờ hết. Sau sự kiện đầy ám ảnh trong Spectre, Bond lui về ở ẩn tại đất nước Jamaica...
                            <a href="#" class="text-black">xem thêm</a></p>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="list mb-2">
                    <div class="list-header">
                        <a href="#" class="list-header-image">
                            <img src="https://cinestar.com.vn/pictures/Cinestar/09-2020/songsong.jpg">
                        </a>
                    </div>
                    <div class="list-content">
                        <h2><a href="#" class="text-black">SONG SONG (C16)</a></h2>
                        <span class="list-meta">
                        <span class="list-meta-item"><i class="fas fa-clock"></i> 12.12.2020</span>
                        <a href="#" class="list-meta-item"><i class="fas fa-star"></i> 7.0</a>
                        </span>
                        <p>Lấy cảm hứng từ khái niệm “hiệu ứng cánh bướm”, bộ phim là câu chuyện về một người phụ nữ phải tìm cách sửa chữa sai lầm của mình khi vô tình thay đổi quá khứ, khiến cuộc sống hiện tại bị đảo lộn...
                            <a href="#" class="text-black">xem thêm</a> </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="list mb-2">
                    <div class="list-header">
                        <a href="#" class="list-header-image">
                            <img src="https://cinestar.com.vn/pictures/Cinestar/09-2020/ttqv.jpg">
                        </a>
                    </div>
                    <div class="list-content">
                        <h2><a href="#" class="text-black">TRÁI TIM QUÁI VẬT</a></h2>
                        <span class="list-meta">
                    	<span class="list-meta-item"><i class="fas fa-clock"></i> 16.10.2020</span>
                        <a href="#" class="list-meta-item"><i class="fas fa-star"></i> 6.4</a>
                        </span>
                        <p>‘Trái Tim Quái Vật’ là một câu chuyện đậm chất thriller kể về Khánh (Hoàng Thùy Linh) – một người mẹ đơn thân với khao khát được sống và làm ăn lương thiện nhưng không may vướng vào vòng xoáy tội ác...

                            <a href="#" class="text-black">xem thêm</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /movie cards -->
    <br>
    <!-- Newsletter -->
    <section class="newsletter text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h2 class="mb-4">Muốn nhận khuyến mãi, thì điền mail vào đây!</h2>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form>
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0">
                                <input type="email" class="form-control form-control-lg" placeholder="Enter your email..." style="padding-bottom: 16px; padding-top: 16px; height: 63px;">
                            </div>
                            <div class="col-12 col-md-3">
                                <button type="submit" class="btn btn-block btn-lg btn-primary" style="padding-bottom: 16px; padding-top: 16px;">Giảm giá!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- /Newsletter -->
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="/vi/page">Về chúng tôi</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="/vi/page">Hoàn tiền</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="/vi/page">Điều khoản và bảo mật</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Liên hệ</a>
                        </li>
                    </ul>
                    <p class="small mb-4 mb-lg-0">18VP &copy; 2020. Đã đăng ký bản quyền.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3 ">
                            <a href="#" class="footer-fb">
                                <i class="fab fa-linkedin fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="#" class="footer-tw">
                                <i class="fab fa-twitter fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="footer-in">
                                <i class="fab fa-instagram fa-2x fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


</body>

</html>