.language a{
    text-decoration: none;
    font-family: 'Comic Sans', Comic Sans MS, cursive;
    
}

.language a:hover{
    color: #228B22;
    
}

#vietnam{
    color: aliceblue;
}
#english{
    color: aliceblue	;
}
.select-film h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    color: rgba(201, 0, 135, 1);
    font-size: 40px;
    text-shadow: 5px 5px 4px darkgray;
    font-weight: bold;
    margin-left: 3em;
    margin-top: 0;
    grid-area: h1;
}

.select-film form {
    grid-area: form;
}

.select-film select {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    background-color: #424242;
    text-transform: uppercase;
    color: white;
    padding: 7px !important;
    padding-right: 5em;
    width: 18em;
    overflow: auto;
    border-radius: 24px;
}

.select-film select option {
    background-color: white;
    color: gray;
    border: 2px solid rgba(201, 0, 135, 1);
    padding: 5px;
}

.select-film select:hover {
    background-color: rgba(201, 0, 135, 1);
    color: white;
    border-color: rgba(201, 0, 135, 1);
}

.select-film select option:hover {
    background-color: rgba(201, 0, 135, 1);
    color: white;
}

#movies {
    border-top-left-radius: 0;
    margin-right: 0.5em;
    margin-bottom: 5px;
}

#theatres {
    border-top-right-radius: 0;
    margin-bottom: 5px;
}

#date {
    border-bottom-left-radius: 0;
    margin-right: 0.5em;
}

#screenings {
    border-bottom-right-radius: 0;
}

.select-film button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: whitesmoke;
    background-color: rgba(201, 0, 135, 1);
    border: 1px solid rgba(201, 0, 135, 1);
    border-radius: 20px;
    padding: 2px 10px;
    margin: 10px;
    font-size: 22px;
    width: 100px;
    height: 100%;
}

.select-film input:hover {
    color: gray;
}

.select-film {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 20em auto;
    grid-template-areas: "h1 form";
    background-image: url("https://i0.wp.com/www.cssscript.com/wp-content/uploads/2017/12/Animated-Particles-Background.png?fit=499%2C386&ssl=1");
    border: 1px solid #424242;
}

.select-film .non-display {
    display: none;
}

.select-film .display-theatre {
    display: none;
}

.select-film .display-date {
    display: none;
}

.select-film .display-sceening {
    display: none;
}


/* .display-notice{
    display: none;
  } */